html,
body,
#root,
.leaflet-container {
    height: 100%;
}

nav {
    background-color: aquamarine;
    height: 5%;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-align: center;
}

.map {
    height: 100%;
    border: solid 2px black;
    box-sizing: border-box;
    padding: 0;
}

.row,
.column {
    padding: 0;
    margin: 0;
}
.left {
    padding-top: 0.5em;
    text-align: center;
    font-size: 1.5vh;
}
.left-button {
    padding: 0.25em;
    margin: 0.25em;
}
.squares {
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
}
.provinces {
    margin: 0.5em;
    font-size: 1.5vh;
}
select, option {
    font-size: 1.5vh;
    width: 100%;
}

footer {
    background-color: aquamarine;
    height: 3%;
    text-align: center;
}

.footerlink {
    text-decoration: none;
    color: black;
}
